<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codeclinic.yakrm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Utils.App"
        android:allowBackup="false"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme,android:icon,android:roundIcon,android:allowBackup">

        <activity
            android:name=".Activities.ReplaceActiveVouchersActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.AllActiveVouchersActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/No_action_bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Activities.ReturnVoucherActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.SelectAppModeActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.StartActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.NewAccountActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.PersonalDataActivity"
            android:theme="@style/No_action_bar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/No_action_bar" />

        <activity
            android:name=".DeliveryService.DeliveryMain"
            android:label="@string/delivery_main_title"
            android:theme="@style/No_action_bar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".DeliveryService.OrderDetailActivity"
            android:theme="@style/No_action_bar" />

        <activity
            android:name=".Activities.GiftDetailsActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.FavouritesActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.CartActivity"
            android:theme="@style/No_action_bar" />

        <activity
            android:name=".Activities.CompletingPurchasingActivity"
            android:launchMode="singleTask"
            android:theme="@style/No_action_bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data android:scheme="livemosab" />
                <action android:name="android.intent.action.VIEW" />
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DeliveryService.CompletePaymentActivity"
            android:launchMode="singleTask"
            android:theme="@style/No_action_bar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data android:scheme="livemosab" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Activities.RecievedActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.MyWalletActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.VoucherDetailActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.UploadVouchersActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.UploadVoucherDataActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.ExchangeVoucherActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.SendToFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name="com.github.florent37.camerafragment.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name=".Activities.ExchangeAddBalanceActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.FavouriteVouchersActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.VoucherWillEndActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.VoucherEndedActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.NotificationsActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.FinancialTransactionsRecordActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.ExcahangeInstructionsActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.AboutApplicationActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.PrivayPolicyActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.ScanBarcodeActivity"
            android:theme="@style/AppOverlayTheme" />
        <activity
            android:name=".Activities.EnterCardDetailsActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.EditCardActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:theme="@style/No_action_bar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="23e719e7c9d80552da65f2394360acdf8a1bdaea" />

        <activity
            android:name="com.oppwa.mobile.connect.checkout.dialog.CheckoutActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Checkout.Light"
            android:windowSoftInputMode="adjustPan"
            tools:replace="android:theme,android:windowSoftInputMode" />

        <service
            android:name="com.oppwa.mobile.connect.service.ConnectService"
            android:exported="false" />

        <receiver android:name=".LocalNotification.AlarmReceiver" />
        <receiver
            android:name=".LocalNotification.AlarmBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Utils.CheckoutBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.oppwa.mobile.connect.checkout.ACTION_PAYMENT_METHOD_SELECTED" />
            </intent-filter>
        </receiver>

        <service android:name=".Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.SearchedVoucherActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.VoucherAboutToEndActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.ForgetPasswordActivity"
            android:theme="@style/No_action_bar" />
        <activity android:name=".Activities.TrimmerActivity" />
        <activity android:name=".Activities.CustomActivity" />

        <activity
            android:name="com.schibstedspain.leku.LocationPickerActivity"
            android:label="@string/leku_title_activity_location_picker"
            android:theme="@style/No_action_bar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/leku_searchable" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuio1SeutMjrH3YpZux-J7ahjolmQohrM" />

        <activity
            android:name=".ChatModule.CustomerChatActivity"
            android:theme="@style/No_action_bar" />

    </application>

</manifest>