<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yakrm.codeclinic.yakrm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.StartActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.NewAccountActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.PersonalDataActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.GiftDetailsActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.FavouritesActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.CartActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.CompletingPurchasingActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.RecievedActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.MyWalletActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.VoucherDetailActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.UploadVouchersActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.UploadVoucherDataActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.ExchangeVoucherActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.SendToFriendActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.ExchangeAddBalanceActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.FavouriteVouchersActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.VoucherWillEndActivity"
            android:theme="@style/No_action_bar" />
        <activity
            android:name=".Activities.VoucherEndedActivity"
            android:theme="@style/No_action_bar" />
        <activity android:name=".Activities.NotificationsActivity"></activity>
    </application>

</manifest>